@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CIPlatform.Entitites.ViewModel.Mission
@{
    <nav aria-label="Page navigation example" class="mt-5">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <span class="page-link" onclick="first_page()"><img src="~/images/previous.png" alt="not load" /></span>
        </li>
        <li class="page-item">
            <span class="page-link" onclick="prev()"><img src="~/images/left.png" alt="not load" /></span>
        </li>
        @{
            int pages = (int)Math.Ceiling((double)@Model?.total_missions / 9);
            for (var i = 1; i <= pages; i++)
            {
                if (i == 1)
                {
                    <li class="page-item" style="cursor:pointer;"><span class="page-link page-active" id='page-@i' onclick="pagination(@i)">@i</span></li>
                }
                else
                {
                    <li class="page-item" style="cursor:pointer;"><span class="page-link" id='page-@i' onclick="pagination(@i)">@i</span></li>
                }
            }
        }
        <li class="page-item">
            <span class="page-link" onclick="next(@pages)"><img src="~/images/right-arrow1.png" alt="not load" /></span>
        </li>
        <li class="page-item">
            <span class="page-link" onclick="last_page(@pages)"><img src="~/images/next.png" alt="not load" /></span>
        </li>
    </ul>
</nav>
}