@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<nav aria-label="Page navigation example" class="mt-2">
    <ul class="pagination pagination-sm justify-content-end">
                <li class="page-item">
            <span class="page-link"><img src="~/images/previous.png" alt="not load" /></span>
        </li> 
         <li class="page-item">
            <span class="page-link"><img src="~/images/left.png" alt="not load" /></span>
        </li>
   @*     @{
            int pages = 3;
            for (var i = 1; i <= pages; i++)
            {
                if (i == 1)
                {
                    <li class="page-item" style="cursor:pointer;"><span class="page-link page-active" id='page-@i'>@i</span></li>
                }
                else
                {
                     <li class="page-item" style="cursor:pointer;"><span class="page-link" id='page-@i'>@i</span></li>
                }
            }
        }*@
        <li class="page-item">
            <span class="page-link"><img src="~/images/right-arrow1.png" alt="not load" /></span>
        </li>
        <li class="page-item">
            <span class="page-link"><img src="~/images/next.png" alt="not load" /></span>
        </li>
    </ul>
</nav>
@*<script src="~/js/index.js"  asp-append-version="true"></script>*@