@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CIPlatform.Entitites.ViewModel.ProfileViewModel
<option value=0 disabled  selected>Select Your City</option>
               @{
                   foreach (var item in Model.cities)
                   {
                       <option value="@item.CityId">@item.Name</option>
                   }
               }    

