@using CIPlatform.Entitites.Models
@{
    ViewData["Title"] = "Login Page";
}
@{
    Layout = null;
}
@model CIPlatform.Entities.ViewModel.LoginViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <environment include="Development">
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
        <script src="/js/bootstrap.bundle.min.js"></script>
    </environment>
</head>
<body>
    <div class="row">
        <div class="col-md-8 col-sm-7">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-interval="false">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    @{
                        foreach (var item in @ViewBag.bannerlist)
                        {
                                            <div class="carousel-item active">
                                        <img src="~/images/@item.Image" class="d-block" alt="...">
                                        <div class="carousel-caption d-md-block">

                                            <p>@item.Text </p>
                                        </div>
                                    </div>
                        }
                    }
                </div>

            </div>
        </div>
        <div class="login col-md-4 col-sm-5">
            <div class="login-details">
                <form method="post">
                    <label asp-for="Email" class="form-label">Email address</label>
                    <input asp-for="Email" type="email" class="form-control" id="email" aria-describedby="emailHelp" />
                    <span asp-validation-for="Email" class="text-danger d-block"></span>
                    <label asp-for="Password" class="form-label mt-3">Password</label>
                    <input asp-for="Password" type="password" class="form-control" id="password" />
                    <span asp-validation-for="Password" class="text-danger d-block"></span>
                    <button type="submit" class="btn mt-4" asp-route-returnUrl="@Context.Request.Path">Login</button>
                </form>

                @if (ViewBag.Message != null)
                {
                            <script type="text/javascript">

                                window.onload = function () {
                                    alert("@ViewBag.Message");
                                };
                            </script>
                }
                <div class="toregister text-center mt-3">
                    <a class="l-password" asp-action="Forgotpassword">Lost Your Password?</a>
                    <p class="mt-2">
                        Don't have an account?<a asp-action="Registration" style="text-decoration: none">Creat an account</a>

                    </p>
                </div>
            </div>
            <div class="privacy text-center">
                <a href="#" class="privacy">Privacy Policy</a>
            </div>
        </div>
    </div>
    @section scripts{
    @{
                <partial name="_ValidationScriptsPartial" />
    }
    }
</body>
</html>
