@{
    ViewData["Title"] = "Volunteer Mission";
}
@{
    Layout = null;
}

<head>
    <title>Story Listing Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/storylisting.css" />
    <environment include="Development">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </environment>

</head>

<body>
    <header>
        <div class="container">
            <div class="demo d-flex flex-row justify-content-between">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link ms-lg-5 text-black" aria-current="page" href="#"> Stories </a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle ms-lg-5 text-black" href="#" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        Policy
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Privacy Policy</a></li>
                                        <li><a class="dropdown-item" href="#">Contact us</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="d-flex justify-content-end mt-3 me-1">
                    <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        <img src="/images/user-img.png" class="rounded-circle" style="object-fit: none;" width="32" height="32">
                        Evan Donohue
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <hr class="m-0 p-0">



    <div class="container">
        <div class="row  ">
            <div class="col-lg-6 col-12 my-3">
                <input type="search" class="form-control no-border"
                       style="font-family: FontAwesome; font-size: 20px;" placeholder=" &#xf002   Search mission..."
                       aria-label="Search">
            </div>



            <div class=" dropdown border col px-3 d-flex justify-content-between" style="min-height:54px;">
                <div class="align-self-center">
                    <a href="#"
                       class="d-block link-dark text-decoration-none data-toggle" id="dropdownUser2"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Country
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li><a class="dropdown-item" href="#"></a></li>
                    </ul>
                </div>
                <div class="me-0 align-self-center"><img src="/images/drop-down.png" alt=""></div>
            </div>




            <div class=" dropdown border col px-3 d-flex justify-content-between" style="min-height: 54px;">
                <div class="align-self-center">
                    <a href="#"
                       class="d-block link-dark text-decoration-none data-toggle" id="dropdownUser2"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        City
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li><a class="dropdown-item" href="#"></a></li>
                    </ul>
                </div>
                <div class="me-0 align-self-center"><img src="/images/drop-down.png" alt=""></div>
            </div>


            <div class=" dropdown border col px-3 d-flex justify-content-between" style="min-height: 54px;">
                <div class="align-self-center">
                    <a href="#"
                       class="d-block link-dark text-decoration-none data-toggle" id="dropdownUser2"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Theme
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li><a class="dropdown-item" href="#"></a></li>
                    </ul>
                </div>
                <div class="me-0 align-self-center"><img src="/images/drop-down.png" alt=""></div>
            </div>


            <div class=" dropdown border col px-3 d-flex justify-content-between" style="min-height: 54px;">
                <div class="align-self-center">
                    <a href="#"
                       class="d-block link-dark text-decoration-none data-toggle" id="dropdownUser2"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Skills
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li><a class="dropdown-item" href="#"></a></li>
                    </ul>
                </div>
                <div class="me-0 align-self-center"><img src="/images/drop-down.png" alt=""></div>
            </div>
        </div>
    </div>


    </div>
    </div>
    <hr class="m-0 p-0">

    <div class="d-flex w-100 justify-content-center align-items-center position-relative responsive">
        <img src="/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="w-100" style="height: 300px; object-fit: cover; object-position: 0 40%; filter: brightness(30%);" alt="">
    <div class="w-50 position-absolute">
        <p class="para" style="color:white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae veritatis molestias at praesentium, laboriosam atque quam expedita voluptates.
    </p>
    <div>
        <button class=" btn d-flex justify-content-center align-items-center" style="border: 2px solid white; color: white; border-radius: 20px;"> share your story </button>
    </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
                <div class="thumbnail card d-flex">
                    <div class="img-event list-group-image">
                        <a href="#"><img class="group w-100 h-100"
                             src="/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="" />
                            </a>
                        <button class="mission-theme border-0">
                            <span class="p-2">Environment</span>
                        </button>
                    </div>
                    <div class="caption mt-3" style=" padding-right: 2% !important; padding-left: 2% !important;">
                        <h4 class="group card-title inner list-group-item-heading">
                            Grow Trees – On the path to environment sustainability
                        </h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore...
                        </p>
                        <div class="d-flex justify-content-between border-bottom mt-3">
                            <div class="Seats d-flex align-items-center">
                                <img class="rounded-circle vol-img" src="/images/volunteer1.png" alt="">
                                <span>
                                    Andrew Johnson
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
                <div class="thumbnail card d-flex">
                    <div class="img-event">
                        <a href="#"><img class="group list-group-image w-100 h-100"
                             src="/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" alt="" />
                            </a>
                        <button class="mission-theme border-0">
                            <span class="p-2">Environment</span>
                        </button>
                    </div>
                    <div class="caption mt-3" style=" padding-right: 2% !important; padding-left: 2% !important;">
                        <h4 class="group card-title inner list-group-item-heading">
                            Grow Trees – On the path to environment sustainability
                        </h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore...
                        </p>
                        <div class="d-flex justify-content-between border-bottom mt-3">
                            <div class="Seats d-flex align-items-center">
                                <img class="rounded-circle vol-img" src="/images/volunteer2.png" alt="">
                                <span>
                                    Charle Vigue
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
                <div class="thumbnail card d-flex">
                    <div class="img-event">
                        <a href=""><img class="group list-group-image w-100 h-100"
                             src="/images/Nourish-the-Children-in--African-country.png" alt="" />
                            </a>
                        <button class="mission-theme border-0">
                            <span class="p-2">Environment</span>
                        </button>
                    </div>
                    <div class="caption mt-3" style=" padding-right: 2% !important; padding-left: 2% !important;">
                        <h4 class="group card-title inner list-group-item-heading">
                            Grow Trees – On the path to environment sustainability
                        </h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore...
                        </p>
                        <div class="d-flex justify-content-between border-bottom mt-3">
                            <div class="Seats d-flex align-items-center">
                                <img class="rounded-circle vol-img" src="/images/volunteer7.png" alt="">
                                <span>
                                    Travis Steen
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
                <div class="thumbnail card d-flex">
                    <div class="img-event">
                        <a href="#"><img class="group list-group-image w-100 h-100"
                             src="/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png" alt="" />
                            </a>
                        <button class="mission-theme border-0">
                            <span class="p-2">Environment</span>
                        </button>
                    </div>
                    <div class="caption mt-3" style=" padding-right: 2% !important; padding-left: 2% !important;">
                        <h4 class="group card-title inner list-group-item-heading">
                            Grow Trees – On the path to environment sustainability
                        </h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore...
                        </p>
                        <div class="d-flex justify-content-between border-bottom mt-3">
                            <div class="Seats d-flex align-items-center">
                                <img class="rounded-circle vol-img" src="/images/volunteer1.png" alt="">
                                <span>
                                    Andrew Johnson
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
                <div class="thumbnail card d-flex">
                    <div class="img-event">
                        <a href=""><img class="group list-group-image w-100 h-100"
                             src="/images/Animal-welfare-&-save-birds-campaign.png" alt="" />
                            </a>
                        <button class="mission-theme border-0">
                            <span class="p-2">Environment</span>
                        </button>
                    </div>
                    <div class="caption mt-3" style=" padding-right: 2% !important; padding-left: 2% !important;">
                        <h4 class="group card-title inner list-group-item-heading">
                            Grow Trees – On the path to environment sustainability
                        </h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore...
                        </p>
                        <div class="d-flex justify-content-between border-bottom mt-3">
                            <div class="Seats d-flex align-items-center">
                                <img class="rounded-circle vol-img" src="/images/volunteer2.png" alt="">
                                <span>
                                    Charles Vigue
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
                <div class="thumbnail card d-flex">
                    <div class="img-event">
                        <a href="#">
                        <img class="group list-group-image w-100 h-100"
                             src="/images/Plantation-and-Afforestation-programme.png" alt="" />
                             </a>
                        <button class="mission-theme border-0">
                            <span class="p-2">Environment</span>
                        </button>
                    </div>
                    <div class="caption mt-3" style=" padding-right: 2% !important; padding-left: 2% !important;">
                        <h4 class="group card-title inner list-group-item-heading">
                            Grow Trees – On the path to environment sustainability
                        </h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore...
                        </p>
                        <div class="d-flex justify-content-between border-bottom mt-3">
                            <div class="Seats d-flex align-items-center">
                                <img class="rounded-circle vol-img" src="/images/volunteer7.png" alt="">
                                <span>
                                    Travis Steen
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
                <div class="thumbnail card d-flex">
                    <div class="img-event">
                        <a href="#">
                        <img class="group list-group-image w-100 h-100"
                             src="/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="" />
                            </a>
                        <button class="mission-theme border-0">
                            <span class="p-2">Environment</span>
                        </button>
                    </div>
                    <div class="caption mt-3" style=" padding-right: 2% !important; padding-left: 2% !important;">
                        <h4 class="group card-title inner list-group-item-heading">
                            Grow Trees – On the path to environment sustainability
                        </h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore...
                        </p>
                        <div class="d-flex justify-content-between border-bottom mt-3">
                            <div class="Seats d-flex align-items-center">
                                <img class="rounded-circle vol-img" src="/images/volunteer1.png" alt="">
                                <span>
                                    Andrew Johnson
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
                <div class="thumbnail card d-flex">
                    <div class="img-event">
                        <a href="#">
                        <img class="group list-group-image w-100 h-100"
                             src="/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" alt="" />
                            </a>
                        <button class="mission-theme border-0">
                            <span class="p-2">Environment</span>
                        </button>
                    </div>
                    <div class="caption mt-3" style=" padding-right: 2% !important; padding-left: 2% !important;">
                        <h4 class="group card-title inner list-group-item-heading">
                            Grow Trees – On the path to environment sustainability
                        </h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore...
                        </p>
                        <div class="d-flex justify-content-between border-bottom mt-3">
                            <div class="Seats d-flex align-items-center">
                                <img class="rounded-circle vol-img" src="/images/volunteer2.png" alt="">
                                <span>
                                    Charles Vigue
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
                <div class="thumbnail card d-flex">
                    <div class="img-event">
                        <a href="#">
                        <img class="group list-group-image w-100 h-100"
                             src="/images/Nourish-the-Children-in--African-country.png" alt="" />
                            </a>
                        <button class="mission-theme border-0">
                            <span class="p-2">Environment</span>
                        </button>
                    </div>
                    <div class="caption mt-3" style=" padding-right: 2% !important; padding-left: 2% !important;">
                        <h4 class="group card-title inner list-group-item-heading">
                            Grow Trees – On the path to environment sustainability
                        </h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore...
                        </p>
                        <div class="d-flex justify-content-between border-bottom mt-3">
                            <div class="Seats d-flex align-items-center">
                                <img class="rounded-circle vol-img" src="/images/volunteer7.png" alt="">
                                <span>
                                    Travis Steen
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <nav aria-label="Page navigation example" class="mt-5">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" style="height: 100%;" href="#" tabindex="-1"><img class="mt-2" src="/images/previous.png" alt="not load" /></a>
            </li>
            <li class="page-item">
                <a class="page-link" style="height: 100%;" href="#" tabindex="-1"><img class="mt-2" src="/images/left.png" alt="not load" /></a>
            </li>
        <li class="page-item"><a class="page-link active" style="background-color: orange; border-color: white;" href="#">1</a></li>
            <li class="page-item"><a class="page-link text-black" href="#">2</a></li>
            <li class="page-item"><a class="page-link text-black" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" style="height: 100%;" href="#"><img class="mt-2" src="/images/right-arrow1.png" alt="not load" /></a>
            </li>
            <li class="page-item">
                <a class="page-link" style="height: 100%;" href="#"><img class="mt-2" src="/images/next.png" alt="not load" /></a>
            </li>
        </ul>
    </nav>

</body>

</html>