

@{
    ViewData["Title"] = "Landing Platform";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Platform Landing Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <environment include="Development">
    <link rel="stylesheet" href="/css/volunteering_mission.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </environment>
</head>
<body>
    <header>
        <div class="container">
            <div class="demo d-flex flex-row justify-content-between">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link ms-lg-5 text-black" aria-current="page" href="#"> Stories </a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle ms-lg-5 text-black" href="#" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        Policy
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Privacy Policy</a></li>
                                        <li><a class="dropdown-item" href="#">Contact us</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="d-flex justify-content-end mt-3 me-1">
                    <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        <img src="/images/user-img.png" class="rounded-circle" style="object-fit: none;" width="32" height="32">
                        Evan Donohue
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <hr class="m-0 p-0">
<div class=" container mt-4">
    <div class="row">
    <div class="images col-lg-6 col-md-6 col-sm-12">
        <div class="carousel slide" data-bs-interval="false" id="sub-images">
            <div class="carousel-inner">
        <img class="w-100 carousel-item active main-image" src="/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png" alt=""/>
        <img src="/images/img1.png" class="w-100 carousel-item main-image" alt=""/>
         <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-2.png" class="w-100 main-image carousel-item" alt=""/>
            <img src="~/images/img11.png" class="w-100 carousel-item main-image" alt="" />
             <img class="w-100 carousel-item main-image" src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png" alt=""/>
             <img src="~/images/img1.png" class="w-100 carousel-item main-image" alt=""/>
          </div>
        <div class="other-images mt-1 w-100 position-relative" >  
            <div class="carousel slide" data-bs-interval="false" id="other-images">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex">
            <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-6.png" data-bs-target="#sub-images" data-bs-slide-to="0"  class="other-image" alt=""/>
            <img src="~/images/img3.png" class="other-image" data-bs-target="#sub-images" data-bs-slide-to="1"  alt=""/>
            <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-3.png" data-bs-target="#sub-images" data-bs-slide-to="2"  class="other-image" alt=""/>
            <img src="~/images/img22.png" class="other-image" data-bs-target="#sub-images" data-bs-slide-to="3"  alt="" />
            </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex">
            <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-6.png" data-bs-target="#sub-images" data-bs-slide-to="4"  class="other-image" alt=""/>
            <img src="~/images/img3.png" class="other-image" data-bs-target="#sub-images" data-bs-slide-to="5"  alt=""/>
            </div>
            </div>
            </div>
                            <div class="bg-black d-flex align-items-center justify-content-center position-absolute left h-100 carousel-control-prev" style="width: 2%;" data-bs-target="#sub-images" data-bs-slide="prev">
                                <img src="/images/left1.png" class="w-50" alt="not load" />
                            </div>

                            <div class="bg-black d-flex align-items-center justify-content-center position-absolute left h-100 carousel-control-next" style="left:98%; width: 2%;" data-bs-target="#sub-images" data-bs-slide="next">
                                <img src="/images/arrow.png" class="w-50" alt="not load" />
                            </div>
        </div>
         </div>
          </div>
    </div>
    <div class="description col-lg-6 col-md-6 col-sm-12">
        <div class="caption card-body">
                        <h2 class="group card-title inner list-group-item-heading">
                            Grow Trees – On the path to environment sustainability</h2>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore...</p>
                        <div class="duration-seats-info mt-4">
                            <div class="duration">
                                <p id="duration-txt" style="margin-bottom: 0;">Plant 10,000 trees</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between border-bottom mt-3">
                            <div class="Seats d-flex align-items-center">
                                <img src="images/Seats-left.png" alt="">
                                <span>10 <p>seats left</p>
                                </span>
                            </div>
                        <div class="deadline d-flex align-items-center">
                            <img src="/images/achieved.png" alt="">
                            <span>
                                <div class="progress" style="margin-left: 10%;">
                                    <div class="progress-bar" role="progressbar" style="width: 40%; background: orange" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p>8000 achieved</p>
                            </span>
                        </div>
                        </div>
                        <div class="container">
                        <div class="row mt-4 justify-content-between">
                            <div class="col-lg-6 col-md-12 col-sm-6 d-flex justify-content-center align-items-center border border-dark rounded-pill mt-2">
                                <img src="~/images/heart1.png" class="p-1" style="margin-right:10px;" alt=""/>
                                <span>Add To Favourite</span>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-6 d-flex justify-content-center align-items-center border border-dark rounded-pill mt-2">
                                <img src="~/images/add1.png" class="p-1" alt="" />
                                <span class="p-1" style="white-space:nowrap;"> Recommend To a Co-Worker</span>
                            </div>
                        </div>
                        </div>
                         <div class="duration-seats-info mt-5">
                           <div class="d-flex stars justify-content-center">
                               <img src="~/images/star-empty.png" alt="" />
                                <img src="~/images/star-empty.png" alt="" />
                                 <img src="~/images/star-empty.png" alt="" />
                                  <img src="~/images/star-empty.png" alt="" />
                                   <img src="~/images/star-empty.png" alt="" />
                           </div>
                            </div>
                        </div>
                        <div class="container d-flex mt-4 stamps">
                            <div class=" d-flex w-25 flex-column justify-content-between border rounded mission-info">
                                <div class="ms-2 mt-1">
                                <img src="~/images/pin1.png" style="width:15%;" alt="" />
                                </div>
                                <div class="ms-2  mb-1">
                                <p class="text-muted" style="margin-block:0;">City</p>
                                <p style="margin-block:0;">London</p>
                                </div>
                            </div>
                              <div class=" d-flex w-25 flex-column justify-content-between border rounded mission-info">
                                <div class="ms-2 mt-1">
                                <img src="~/images/web.png" style="width:15%;" alt="" />
                                </div>
                                <div class="ms-2 mb-1">
                                <p class="text-muted" style="margin-block:0;">Theme</p>
                                <p style="margin-block:0;">Environment</p>
                          </div>
                            </div>
                             <div class=" d-flex w-25 flex-column justify-content-between border rounded mission-info">
                                <div class="ms-2 mt-1">
                                <img src="~/images/calender.png" style="width:15%;" alt="" />
                                </div>
                                <div class="ms-2 mb-1">
                                <p class="text-muted" style="margin-block:0;">Date</p>
                                <p style="margin-block:0;">Ongoing Opertunity</p>
                                </div>
                            </div>
                             <div class=" d-flex w-25 flex-column justify-content-between border rounded mission-info">
                                <div class="ms-2 mt-1">
                                <img src="~/images/organization.png" style="width:20%;" alt="" />
                                </div>
                                <div class="ms-2 mb-1">
                                <p class="text-muted" style="margin-block:0;">Organization</p>
                                <p style="margin-block:0;">CSE-network</p>
                                </div>
                            </div>

                        </div>
                        <div class="d-flex justify-content-center mt-4">
                             <button class="applybutton bg-white">
                        Apply Now <img src="images/right-arrow.png" alt="">
                             </button>
                          </div>
                    </div>
                </div>
    </div> 

@*comments*@

    <div class="container mt-5 w-100">
        <div class="row w-100">
        <div class="mission-detail col-lg-7 col-md-7">
            <div class="d-flex text-muted w-100 border-bottom">
                <u class="ms-2 mb-3 active-detail introduction" onclick="tabs('introduction')">Mission</u>
                <u class="ms-4 mb-3 detail organization" onclick="tabs('organization')">Organization</u>
                <u class="ms-4 mb-3 detail comment" onclick="tabs('comment')">Comments</u>
            </div>
            <div class="text-muted tab mt-2" id="introduction" >
                <h4>Introduction</h4>
                <p>Paragraphs are medium-sized units of writing, longer than sentences, but shorter than sections, chapters.Paragraphs are medium-sized units of writing, but shorter than sections, chapters</p>
                <p>Paragraphs are medium-sized units of writing, longer than sentences, but shorter than sections, chapters.Paragraphs are medium-sized units of writing, but shorter than sections, chapters</p>
                <p>
                    Paragraphs are medium-sized units of writing, longer than sentences, but shorter than sections, chapters.Paragraphs are medium-sized units of writing, but shorter than sections, chapters
                    Paragraphs are medium-sized units of writing, longer than sentences, but shorter than sections, chapters.Paragraphs are medium-sized units of writing, but shorter than sections, chapters
                </p>
                 <h4>Challenge</h4>
                <p>Paragraphs are medium-sized units of writing, longer than sentences, but shorter than sections, chapters.Paragraphs are medium-sized units of writing, but shorter than sections, chapters</p>
                <p>
                    Paragraphs are medium-sized units of writing, longer than sentences, but shorter than sections, chapters.Paragraphs are medium-sized units of writing, but shorter than sections, chapters
                    Paragraphs are medium-sized units of writing, longer than sentences, but shorter than sections, chapters.Paragraphs are medium-sized units of writing, but shorter than sections, chapters
                </p>
                <h4>Documents</h4>
                <div class="d-flex document flex-wrap">
                    <div class="d-flex ms-2 mt-2 align-items-center border rounded-pill p-1">
                        <img class=" ms-2" src="~/images/doc.png" alt="" />
                        <span class="ms-1 me-2">Document.pdf</span>
                    </div>
                     <div class="d-flex  ms-2 mt-2 align-items-center border rounded-pill p-1">
                        <img class="ms-2" src="~/images/doc.png" alt="" />
                        <span class="ms-1 me-2">chapters-Paragraphs.Docs</span>
                    </div>
                     <div class="d-flex ms-2 mt-2 align-items-center border rounded-pill p-1">
                        <img class=" ms-2" src="~/images/doc.png" alt="" />
                        <span class="ms-1 me-2">Document.pdf</span>
                    </div>
                     <div class="d-flex ms-2 mt-2 align-items-center border rounded-pill p-1">
                        <img class=" ms-2" src="~/images/doc.png" alt="" />
                        <span class="ms-1 me-2">Document.pdf</span>
                    </div>
                </div>
            </div>
            <div class="inner-content mt-4 tab text-muted" id="organization">
                 <p>
                    Paragraphs are medium-sized units of writing, longer than sentences, but shorter than sections, chapters.Paragraphs are medium-sized units of writing, but shorter than sections, chapters
                    Paragraphs are medium-sized units of writing, longer than sentences, but shorter than sections, chapters.Paragraphs are medium-sized units of writing, but shorter than sections, chapters
                </p>
            </div>
             <div class="inner-content mt-4 tab text-muted" id="comment">
                <div class="form-group">
               <textarea class="form-control" id="usercomment" placeholder="Enter your comments..." rows="3"></textarea>
                <button class="applyButton mt-3 btn">Post Comment</button>
                </div>
                <div class="bg-light user-comments mt-4 p-3" style="height:460px">
                    <div class="d-flex bg-white align-items-center">
                        <img class="rounded-circle usercomment-image ms-2" src="~/images/volunteer1.png" alt="" />
                        <div class="d-flex flex-column ms-2">
                            <span>Dhruvik kothiya</span>
                            <span>monday 7 pm</span>
                            <span class="mt-2">hey nice work....</span>
                        </div>
                    </div>
                     <div class="d-flex mt-3 bg-white align-items-center">
                        <img class="rounded-circle usercomment-image ms-2" src="~/images/volunteer1.png" alt="" />
                        <div class="d-flex flex-column ms-2">
                            <span>Dhruvik kothiya</span>
                            <span>monday 7 pm</span>
                            <span class="mt-2">hey nice work....</span>
                        </div>
                    </div>
                     <div class="d-flex mt-3 bg-white align-items-center">
                        <img class="rounded-circle usercomment-image ms-2" src="~/images/volunteer1.png" alt="" />
                        <div class="d-flex flex-column ms-2">
                            <span>Dhruvik kothiya</span>
                            <span>monday 7 pm</span>
                            <span class="mt-2">hey nice work....</span>
                        </div>
                    </div>
                     <div class="d-flex mt-3 bg-white align-items-center">
                        <img class="rounded-circle usercomment-image ms-2" src="~/images/volunteer1.png" alt="" />
                        <div class="d-flex flex-column ms-2">
                            <span>Dhruvik kothiya</span>
                            <span>monday 7 pm</span>
                            <span class="mt-2">hey nice work....</span>
                        </div>
                    </div>
                     <div class="d-flex mt-3 bg-white align-items-center">
                        <img class="rounded-circle usercomment-image ms-2" src="~/images/volunteer1.png" alt="" />
                        <div class="d-flex flex-column ms-2">
                            <span>Dhruvik kothiya</span>
                            <span>monday 7 pm</span>
                            <span class="mt-2">hey nice work....</span>
                        </div>
                    </div>
                     <div class="d-flex mt-3 bg-white align-items-center">
                        <img class="rounded-circle usercomment-image ms-2" src="~/images/volunteer1.png" alt="" />
                        <div class="d-flex flex-column ms-2">
                            <span>Dhruvik kothiya</span>
                            <span>monday 7 pm</span>
                            <span class="mt-2">hey nice work....</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="information col-lg-5 col-md-5 mt-4" style="text-underline-offset:1.3rem;">
            <div class="ratings border">
                <div class="container">
                <div class="border-bottom p-3">
                    <u>Information</u>
                </div>
                <div class="border-bottom text-muted p-3">
                    <span>Skills</span>
                    <span class="ms-5">math,computer</span>
                </div>
                <div class="border-bottom text-muted p-3">
                     <span>Days</span>
                    <span class="ms-5">Weekend Only</span>
                </div>
                <div class="d-flex align-items-center p-3 text-muted">
                     <span>Rating</span>
                     <div class="rating d-flex align-items-center ms-5">
                                <img src="images/selected-star.png" alt="">
                                <img src="images/selected-star.png" alt="">
                                <img src="images/selected-star.png" alt="">
                                <img src="images/star.png" alt="">
                                <img src="images/star.png" alt="">
                                <span class="ms-2">(By 125 volunteers)</span>
                            </div>
                </div>
            </div>
            </div>
            <div class="volunteers  mt-4 border">
                <div class="container">
                    <div class="border-bottom p-3">
                        <u>Recent Volunteers</u>
                    </div>
                    @*first-9*@
                     <div class="border-bottom text-muted row p-3">
                       <div class="col-lg-4 col-md-4 col-sm-4 col-4 d-flex flex-column align-items-center justify-content-center">
                           <img class="w-47 h-50 rounded-circle" src="~/images/volunteer1.png" alt="" />
                           <p>Andrew Jhonson</p>
                       </div>
                       <div class="col-lg-4 col-md-4 col-sm-4 col-4 d-flex flex-column align-items-center justify-content-center">
                            <img class="w-47 h-50 rounded-circle" src="~/images/volunteer2.png" alt="" />
                                <p>Charles Vigue</p>
                       </div>
                       <div class="col-lg-4 col-md-4 col-sm-4 col-4 d-flex flex-column align-items-center justify-content-center">
                            <img class="w-47 h-50 rounded-circle" src="~/images/volunteer3.png" alt="" />
                                <p>Kathryn Roberts</p>
                       </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-4 d-flex flex-column align-items-center justify-content-center">
                           <img class="w-47 h-50 rounded-circle" src="~/images/volunteer4.png" alt="" />
                                <p>Estella Fowles</p>
                       </div>
                       <div class="col-lg-4 col-md-4 col-sm-4 col-4 d-flex flex-column align-items-center justify-content-center">
                            <img class="w-47 h-50 rounded-circle" src="~/images/volunteer5.png" alt="" />
                                <p>Rose Lewis</p>
                       </div>
                       <div class="col-lg-4 col-md-4 col-sm-4 col-4 d-flex flex-column align-items-center justify-content-center">
                            <img class="w-47 h-50 rounded-circle" src="~/images/volunteer6.png" alt="" />
                                <p>Raymond Pabon</p>
                       </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-4 d-flex flex-column align-items-center justify-content-center">
                           <img class="w-47 h-50 rounded-circle" src="~/images/volunteer7.png" alt="" />
                                <p>Travis Steen</p>
                       </div>
                       <div class="col-lg-4 col-md-4 col-sm-4 col-4 d-flex flex-column align-items-center justify-content-center">
                            <img class="w-47 h-50 rounded-circle" src="~/images/volunteer8.png" alt="" />
                           <p>Sarah Santillan</p>
                       </div>
                       <div class="col-lg-4 col-md-4 col-sm-4 col-4 d-flex flex-column align-items-center justify-content-center">
                            <img class="w-47 h-50 rounded-circle" src="~/images/volunteer9.png" alt="" />
                                <p>Linda Richards</p>
                       </div>
                    </div>
                 <div class="d-flex">
                        <div class="border-end d-flex justify-content-center align-items-center" style="width:10%; cursor:pointer">
                            <img class="h-50" src="~/images/left.png" alt="" />
                        </div>
                        <div class="d-flex justify-content-center align-items-center" style="width:80%;"><span class="text-muted">1-9 of recent 25 volunteers</span></div>
                        <div class="border-start d-flex justify-content-center align-items-center" style="width:10%;cursor:pointer">
                             <img class="h-50" src="~/images/right-arrow1.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="mt-5 w-100 border-bottom"></div>

@*related missions*@
    <div class="container missions mt-5">
           <span class="text-muted related-mission">Related Missions</span>
    <div class="row mt-4">
            <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
                <div class="thumbnail card d-flex">
                    <div class="img-event">
                        <img class="group list-group-image w-100 h-100"
                             src="/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png" alt="" />
                        <div class="location-img">
                            <img class="text-light" src="images/pin.png" alt="">
                            <span class="text-light">London</span>
                        </div>
                        <button class="like-img border-0">
                            <img class="text-light" src="images/heart.png" alt="">
                        </button>
                        <button class="stop-img border-0">
                            <img class="text-light" src="images/user.png" alt="">
                        </button>
                        <button class="mission-theme border-0">
                            <span class="p-2">Environment</span>
                        </button>
                    </div>
                    <div class="caption mt-3" style=" padding-right: 2% !important; padding-left: 2% !important;">
                        <h4 class="group card-title inner list-group-item-heading">
                            CSR initiative stands for Coffee and Farmer Equity
                        </h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore...
                        </p>
                        <div class="d-flex justify-content-between">
                            <span class="organization">CSE Network</span>
                            <div class="rating">
                                <img src="images/selected-star.png" alt="">
                                <img src="images/selected-star.png" alt="">
                                <img src="images/selected-star.png" alt="">
                                <img src="images/star.png" alt="">
                                <img src="images/star.png" alt="">
                            </div>
                        </div>
                        <div class="duration-seats-info mt-4">
                            <div class="duration">
                                <p id="duration-txt" style="margin-bottom: 0;">Ongoing Oppertunity</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between border-bottom mt-3">
                            <div class="Seats d-flex align-items-center">
                                <img src="images/Seats-left.png" alt="">
                                <span>
                                    250 <p>Already Volunteered</p>
                                </span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <button class="applybutton bg-white">
                                Apply <img src="images/right-arrow.png" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
                <div class="thumbnail card d-flex">
                    <div class="img-event">
                        <img class="group list-group-image w-100 h-100"
                             src="/images/Animal-welfare-&-save-birds-campaign.png" alt="" />
                        <div class="location-img">
                            <img class="text-light" src="images/pin.png" alt="">
                            <span class="text-light">Cape Town</span>
                        </div>
                        <button class="like-img border-0">
                            <img class="text-light" src="images/heart.png" alt="">
                        </button>
                        <button class="stop-img border-0">
                            <img class="text-light" src="images/user.png" alt="">
                        </button>
                        <button class="mission-theme border-0">
                            <span class="p-2">Animals</span>
                        </button>
                    </div>
                    <div class="caption mt-3" style=" padding-right: 2% !important; padding-left: 2% !important;">
                        <h4 class="group card-title inner list-group-item-heading">
                            Animal welfare & save birds campaign
                        </h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore...
                        </p>
                        <div class="d-flex justify-content-between">
                            <span class="organization">JR Foundation</span>
                            <div class="rating">
                                <img src="images/selected-star.png" alt="">
                                <img src="images/selected-star.png" alt="">
                                <img src="images/selected-star.png" alt="">
                                <img src="images/star.png" alt="">
                                <img src="images/star.png" alt="">
                            </div>
                        </div>
                        <div class="duration-seats-info mt-4">
                            <div class="duration">
                                <p id="duration-txt" style="margin-bottom: 0;">Plant 10000 Trees</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between border-bottom mt-3">
                            <div class="Seats d-flex align-items-center">
                                <img src="images/Seats-left.png" alt="">
                                <span>
                                    10 <p>seats left</p>
                                </span>
                            </div>
                            <div class="deadline d-flex align-items-center">
                                <img src="/images/achieved.png" alt="">
                                <span>
                                    <div class="progress" style="margin-left: 10%;">
                                        <div class="progress-bar" role="progressbar" style="width: 40%; background: orange" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>8000 achieved</p>
                                </span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <button class="applybutton bg-white">
                                Apply <img src="images/right-arrow.png" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
                <div class="thumbnail card d-flex">
                    <div class="img-event">
                        <img class="group list-group-image w-100 h-100"
                             src="images/Plantation-and-Afforestation-programme.png" alt="" />
                        <div class="location-img">
                            <img class="text-light" src="images/pin.png" alt="">
                            <span class="text-light">Paris</span>
                        </div>
                        <button class="like-img border-0">
                            <img class="text-light" src="images/heart.png" alt="">
                        </button>
                        <button class="stop-img border-0">
                            <img class="text-light" src="images/user.png" alt="">
                        </button>
                        <button class="mission-theme border-0">
                            <span class="p-2">Health</span>
                        </button>
                    </div>
                    <div class="caption mt-3" style=" padding-right: 2% !important; padding-left: 2% !important;">
                        <h4 class="group card-title inner list-group-item-heading">
                            Plantation and Afforestation programme
                        </h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore...
                        </p>
                        <div class="d-flex justify-content-between">
                            <span class="organization">Amaze doctors</span>
                            <div class="rating">
                                <img src="images/selected-star.png" alt="">
                                <img src="images/selected-star.png" alt="">
                                <img src="images/selected-star.png" alt="">
                                <img src="images/star.png" alt="">
                                <img src="images/star.png" alt="">
                            </div>
                        </div>
                        <div class="duration-seats-info mt-4">
                            <div class="duration">
                                <p id="duration-txt" style="margin-bottom: 0;">Plant 10000 Trees</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between border-bottom mt-4">
                            <div class="Seats d-flex align-items-center">
                                <img src="images/achieved.png" alt="">
                                <span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 75%; background: orange" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div><p>8000 achieved</p>
                                </span>
                            </div>

                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <button class="applybutton bg-white">
                                Apply <img src="images/right-arrow.png" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            <script src="~/js/Volunteer_mission.js"></script>
</body>
