@{
    ViewData["Title"] = "Landing Platform";
    ViewData["css"] = "Landingplatform.css";

}
@model CIPlatform.Entitites.ViewModel.Mission
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accesor


<partial name="SecondHeader_partial" />
@*main body*@
<div class="container body pt-3">
    <div class="d-flex justify-content-between">
             <h3 class="explore">Explore : <b>@Model?.Missions?.Count Missions</b></h3>
        <div class="d-flex sort">
            <select class="form-select me-3" onchange="sort_by()" aria-label="Sort By" id="sort">
                <option disabled selected>Sort By</option>
                <option value="newest">Newest</option>
                <option value="oldest">Oldest</option>
                <option value="lowest available seats">Lowest available seats</option>
                <option value="highest available seats">Highest available seats</option>
                <option value="registration deadline">Registration deadline</option>


            </select>
            <img src="~/images/grid.png" class="view rounded-circle" id="grid" onclick="gridview()" alt="not load" style="object-fit:scale-down;" />
            <img src="~/images/list.png" alt="not load" class="rounded-circle" id="list" onclick="listview()" style="object-fit:scale-down;" />
        </div>
    </div>
    @*missions*@
    <div class="row missions">
        <partial name="mission_partial" />
    </div>

    <div class='container d-none justify-content-center align-items-center mt-5 mb-5 w-50 text-muted no-mission-found'>
        <span>No Mission Found</span>
        @{
            if (@Accesor?.HttpContext?.Session.GetString("role") is not null)
            {
                <a class="applyButton w-75 mt-3 btn" href="/Admin/Mission">
                    Submit New Mission <img src="images/right-arrow.png" alt="">
                </a>
            }
        }

    </div>
</div>
@*pagination*@
<div id="pages">

<partial name="Pagination_partial" />
</div>

<script src="~/js/index.js" asp-append-version="true"></script>




