@{
    ViewData["title"] = "Admin";
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" asp-append-version="true" />
    ViewData["css"] = "Volunteering_Timesheet.css";
}
@model CIPlatform.Entitites.ViewModel.BannerViewModel
<div class="row w-100" style="height:90vh;">
    <div class="col-lg-3 col-md-3 navigation col-sm-3">
        <partial name="Navigation_partial" />
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="container mt-5 ">
            <div class="border-bottom">
                <h5>Banner</h5>
            </div>
            <div class="d-flex mt-3 justify-content-between align-items-center">
                <div class="d-flex search-div align-items-center">
                    @*<img class="search" src="~/images/search.png" alt="not load" />
                        <div class="form-floating w-75 d-flex">
                        <input type="search" class="form-control search-input" id="floatingSearch" style="border:none;" placeholder="Search Users...." />
                        <label for="floatingSearch" class="d-flex align-items-center">Search Users....</label>
                        </div>*@
                </div>
                <a href="/Admin/AddBanner" class="btn applybutton d-flex justify-content-between align-items-center" style="border: 1px solid #F88634; border-radius: 100px;color: #F88634;padding-left: 20px; padding-right: 20px;font-size:smaller;">
                    <img src="~/images/plus.png" class="me-2" style="height:13px;" /><span>Add</span>
                </a>
            </div>

            <div class="w-100 mt-3" style="overflow-x:auto;">
                <table id="example" class="table border border-bottom-0 table-responsive mt-4">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">BannerText</th>
                            <th scope="col">Sortorder</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                    <tbody>
                            @{
                                foreach (var item in Model.Bans)
                                {
                                <tr id="cms-@item.BannerId">
                                    <td>@item.Image</td>
                                    <td>@item.Text.Substring(0,40)...</td>
                                    <td>@item.SortOrder</td>
                                    <td>
                                        <a href="/Admin/EditBanner/@item.BannerId"><img src="~/images/edit.png" data-bs-target="#Add" data-bs-toggle="modal" class="edbutton" alt="" /></a>
                                        <img src="~/images/bin.png" data-bs-target="#delete" data-bs-toggle="modal" onclick="getbanner('@item.BannerId')" class="ms-2 edbutton" alt="" />
                                    </td>
                                </tr>
                                }
                            }
                    </tbody>
                    
                </table>
                @*                <partial name="Pagination_partial" />
                *@
            </div>
        </div>
    </div>
    <div class="mobile-navigation">
        <partial name="Mobile_Navigation_partial" />
    </div>
</div>

<div class="modal fade" id="delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Skill</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure? You want to delete the Banner?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn applybutton" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn applybutton" onclick="deletebanner()" data-bs-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>


<input id="banner-id" type="hidden" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="~/js/Bannercms.js"></script>
<script>
        $(document).ready(function () {
            $.noConflict()
        $('#example').DataTable({
            pagingType: 'full_numbers',
        });
    });
</script>