@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Admin";
    ViewData["css"] = "Volunteering_Timesheet.css";
}
@model  List<CIPlatform.Entitites.ViewModel.MissionSelectViewModel>
<div class="row w-100" style="height:90vh;">
    <div class="col-lg-3 col-md-3 navigation col-sm-3">
        <partial name="Navigation_partial" />
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="container mt-5 ">
            <div class="border-bottom">
                <h5>Mission</h5>
            </div>
            <div class="d-flex mt-3 justify-content-between align-items-center">
                <div class="d-flex search-div align-items-center">
                    <img class="search" src="~/images/search.png" alt="not load" />
                    <div class="form-floating w-75 d-flex">
                        <input type="search" class="form-control search-input" id="floatingSearch" placeholder="Search Themes...." />
                        <label for="floatingSearch" class="d-flex align-items-center">Search Themes....</label>
                    </div>
                </div>
                <button class="btn applybutton d-flex justify-content-between align-items-center">
                    <img src="~/images/plus.png"  class="me-2" style="height:13px;" /><span>Add</span>
                </button>
            </div>

            <div class="w-100" style="overflow-x:auto;">
                <table class="table border border-bottom-0 h-100  table-responsive">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Mission Title</th>
                            <th scope="col">Mission Type</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Action</th>



                        </tr>
                    </thead>
                    <tbody>
                            @{
                            foreach (var item in @Model)
                            {
                            <tr>
                            <td>@item.Title</td>
                            <td>@item.missiontype</td>
                            <td>@item.StartDate?.ToString().Substring(0,11)</td>
                            <td>@item.EndDate?.ToString().Substring(0,11)</td>
                            <td><img  src="~/images/edit.png" class="edbutton" alt=""/>
                            <img src="~/images/bin.png"  class="ms-2 edbutton" alt="" /></td>
                            </tr>
                            }
                            }
                        
                    </tbody>
                </table>
            </div>
            <partial name="Pagination_partial" />
        </div>
    </div>
    <div class="mobile-navigation">
        <partial name="Mobile_Navigation_partial" />
    </div>
</div>
